#topBorder {
	text-align: center;
	background-color: #205BAB;
	padding: 5px;
	color: white;
	font-size: 10px;
	border-bottom: 1px solid #EFEFEF;
	margin-bottom: 20px;
	font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
}

a{
	font-size: 18px;
	font-weight: bolder;
	margin: 0 0 0 0;
	margin-right: 10px;
	padding 0 5px 0 5px;
	background-color:silver;
	line-height: 25px;
}

#listEdit{
	text-decoration: underline;
	border-radius: 1em;
}

#listBody{
	padding:0 20px 0 30px;
}

#addItem{
	margin: 10px 10px 10px 30px;
	padding:0 10px 0 10px;
}

li{
	line-height: 15px;
	padding:0 20px 0 30px;
}

.hovered{
	color:red;
}